.admin_content{
    display: flex;
    height: auto;
}
.side_bar_hod{
    background-color: rgb(165, 187, 233);
    width: 20%;
    height: 100%;

}
.side_bar_hod div a {
    text-decoration: none;
}
.content_container{
    width: 80%;
    height: 100%;
    padding-left: 25%;
}
.img_hod{
    display: flex;
    color: white;
    padding-left: 6px;
}
.img_hod img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 5px;
}
.web_cuptuer{
    background-image: url(../images/web.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
}