.signup_main_section {
  height: auto;
  width: auto;
  background-image: url(../images/kelvin.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.signup_minimain_section {
  width: 400px;
  height: 0;
  margin: auto;
  background-image: url(../images/kelvin.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.signup_minimain_section a {
  text-decoration: none;
}
.signup_minimain_section input {
  opacity: 0.8;
  background: unset;
}
