.mainlib_side_bar{
    display: flex;
}
.lib_side_bar{
    width: 20%;
    border-right: 2px solid black;
    height: auto;
}
.img_profile {
background-image: url(../images/shubham-dhage-ykFTt5Dq1RU-unsplash.jpg);
background-position: center;
background-repeat: no-repeat;
padding: 10px;
background-size: cover;
}
.img_profile img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    align-items: center;
}
.links div a{
    text-decoration: none;
}
/* .lib_container{
} */
.main_side_container{
    height: auto;
    width: 80%;
    padding-left: 10px;
}
.lib_nav_section{
    background-color: bisque;
    height: auto;
    width: 100%;
    padding: 10px;
}